
.curDate {
	font-size: 100px;
	text-align:center;
	/* background-color: cornflowerblue; */
}
.curTime {
	font-size: 480px;
	text-align:center;
	
	margin-top:-100px;
	margin-bottom:0px;
}

img {
/*	-webkit-filter: brightness(0.05);*/
/*	-webkit-filter: grayscale(1.0);
	-webkit-filter: brightness(0.1);
	-webkit-filter: saturate(0.5);
	-webkit-filter: contrast(0.1); */
}

.stroke {
/*
	-webkit-text-stroke: 10px #CCC;
	*/
	color:#000;
	text-shadow:
		3px 3px 0px #bbb, 5px 5px 0px #555,
	
		-2px -2px 30px #FFF,
		 2px -2px 30px #FFF,
		-2px 2px 30px #FFF,
		 2px 2px 30px #FFF,

		-2px -2px 30px #FFF,
		 2px -2px 30px #FFF,
		-2px 2px 30px #FFF,
		 2px 2px 30px #FFF,

		-1px -1px 60px #FFF,
		1px -1px 60px #FFF,
		-1px 1px 60px #FFF,
		1px 1px 60px #FFF,

		-1px -1px 60px #FFF,
		1px -1px 60px #FFF,
		-1px 1px 60px #FFF,
		1px 1px 60px #FFF;
}

#fadeLayer {
	position: absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color: #000000;
	opacity:0.0;
	visibility: visible;
	z-index:1;
}

video#camera {
	background-color:#000;	
}

#volume {
	background-color: blue;
	height: 5px;
	width: 128px;
}

body {
/*
	background-image: url("http://girls-und-panzer.jp/img/character/yukari_top.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-size: contain;
*/
}

#player {
	position: absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color: #222;
	visibility: visible;
	z-index:-1;
}

#cursorLog {
	font-size: 100px;
}